@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 960px;
    max-width: 100%;
    min-height: 580px;
    display: flex;
}

.form-container {
    position: relative;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.sign-in {
    background-color: #512da8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    color: #fff;
}

.container h1 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.sign-in button {
    background-color: #fff;
    color: #512da8;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
.sign-up button{
    display: block;
    margin: 0 auto;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.sign-in input {
    background-color: #7048c1;
    color: #fff;

}

.sign-in input::placeholder {
    color: #e0e0e0;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.sign-in .social-icons a {
    border-color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .form-container {
        width: 100%;
    }
}
.google-logo, .linkdin-logo, .github-logo {
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign-in h1{
    display: flex;
    align-items: center;
    justify-content: center;

}
